* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
	text-align: center;
	padding: 20px;
}

div{
	float: left;
	background-color: lightgray;
	margin: 1%;
	padding: 2em 1em 1em 1em;
	border: 1px solid;
}

section{
	position: relative;
	float: right;
	top: -2em;
	right: -1em;
	background-color: lightgreen;
	font-weight: bold;
	text-align: right;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	padding: 5px;
}

section.pink{
	background-color: pink;
}

section.red{
	background-color: red;
	color: whitesmoke;

}
section.yellow{
	background-color: yellow;
}

@media(max-width:768px){
	.box-sm{
		width: 98%;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.box-md{
		width: 48%;
	}
	.box-md2{
		width: 98%;
	}
}
@media(min-width: 992px){
	.box-lg{
		width: 31%;	
	}
}