* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
	text-align: center;
	padding: 20px;
	font-size: 1.75em;
}

div.box-sm,	 div.box-sm2{
	float: left;	
	background-color: lightgray;
	margin: 1%;
	padding: 30px 10px 10px 10px;
	border: 1px solid;
	font-size: 1em;
}

section{
	margin: -30px -10px;
	float: right;
	font-weight: bold;
	text-align: right;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	padding: 5px 5px 0px 0px;
	font-size: 1.25em
}

section.pink{
	background-color: pink;
}

section.red{
	background-color: darkred;
	color: whitesmoke;

}
section.yellow{
	background-color: yellow;
}

@media(max-width:768px){
	.box-sm{
		width: 98%;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.box-sm{
		width: 48%;
	}
	.box-sm2{
		width: 98%;
	}
}
@media(min-width: 992px){
	.box-sm{
		width: 30%;
		background-color: grey;
	}
	.box-sm2{
		width: 31%;
		background-color: grey;
	}
}